In [1]:
import os 
import pandas as pd

In [2]:
path ="Time_Series_19-covid-Confirmed Cases.csv"

covid_df = pd.read_csv(path)
covid_df.head()

,Province/State,Country/Region,Lat,Long,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,2/26/2020,2/27/2020,2/28/2020,2/29/2020,3/1/2020,3/2/2020,3/3/2020,3/4/2020,3/5/2020,3/6/2020
0,Anhui,Mainland China,31.8257,117.2264,1,9,15,39,60,70,...,989,989,990,990,990,990,990,990,990,990
1,Beijing,Mainland China,40.1824,116.4142,14,22,36,41,68,80,...,400,410,410,411,413,414,414,418,418,422
2,Chongqing,Mainland China,30.0572,107.8740,6,9,27,57,75,110,...,576,576,576,576,576,576,576,576,576,576
3,Fujian,Mainland China,26.0789,117.9874,1,5,10,18,35,59,...,294,296,296,296,296,296,296,296,296,296
4,Gansu,Mainland China,36.0611,103.8343,0,2,2,4,7,14,...,91,91,91,91,91,91,91,91,102,119

In [3]:
# List of confirmed cases columns
column_list = covid_df.columns[4:49]

# Sum of all confirmed cases
covid_df['Confirmed Cases'] = covid_df[column_list].sum(axis=1)

covid_cleaned_df = covid_df[['Province/State','Country/Region', 'Lat','Long','Confirmed Cases']]
covid_cleaned_df

        Province/State  Country/Region      Lat      Long  Confirmed Cases
0                Anhui  Mainland China  31.8257  117.2264            30817
1              Beijing  Mainland China  40.1824  116.4142            13183
2            Chongqing  Mainland China  30.0572  107.8740            18865
3               Fujian  Mainland China  26.0789  117.9874             9846
4                Gansu  Mainland China  36.0611  103.8343             3067
..                 ...             ...      ...       ...              ...
194  Ramsey County, MN              US  44.9964  -93.0616                1
195  Washoe County, NV              US  40.5608 -119.6035                1
196   Wayne County, PA              US  41.6739  -75.2479                1
197    Yolo County, CA              US  38.7646 -121.9018                1
198                NaN    Vatican City  41.9029   12.4534                1

[199 rows x 5 columns]

In [4]:
covid_cleaned_df.to_csv ('covid19_cleaned', index = False, header = True)

In [5]:
min_lat = covid_cleaned_df['Lat'].min()
max_lat = covid_cleaned_df['Lat'].max()
avg_lat = covid_cleaned_df['Lat'].mean()

print(f' Min Lat: {round(min_lat,2)}')
print(f' Max Lat: {round(max_lat,2)}')
print(f' Avg Lat: {round(avg_lat,2)}')

 Min Lat: -41.45
 Max Lat: 64.96
 Avg Lat: 31.84

In [6]:
total_confirmed = covid_cleaned_df['Confirmed Cases'].sum()
print(f'Total Confirmed Cases: {total_confirmed}')

Total Confirmed Cases: 2276824

In [7]:
covid_spread = covid_cleaned_df.loc[(covid_cleaned_df["Country/Region"] != "Mainland China")]
covid_spread

        Province/State Country/Region      Lat      Long  Confirmed Cases
31                 NaN       Thailand  15.0000  101.0000             1292
32                 NaN          Japan  36.0000  138.0000             4346
33                 NaN    South Korea  36.0000  128.0000            43723
34              Taiwan         Taiwan  23.7000  121.0000              922
35     King County, WA             US  47.6062 -122.3321              228
..                 ...            ...      ...       ...              ...
194  Ramsey County, MN             US  44.9964  -93.0616                1
195  Washoe County, NV             US  40.5608 -119.6035                1
196   Wayne County, PA             US  41.6739  -75.2479                1
197    Yolo County, CA             US  38.7646 -121.9018                1
198                NaN   Vatican City  41.9029   12.4534                1

[168 rows x 5 columns]

In [8]:
total_spread = covid_spread['Confirmed Cases'].sum()
print(f'Total Confirmed Cases Outside China: {total_spread}')

Total Confirmed Cases Outside China: 126123

In [9]:
min_lat = covid_spread['Lat'].min()
max_lat = covid_spread['Lat'].max()
avg_lat = covid_spread['Lat'].mean()

print(f' Min Lat: {round(min_lat,2)}')
print(f' Max Lat: {round(max_lat,2)}')
print(f' Avg Lat: {round(avg_lat,2)}')

 Min Lat: -41.45
 Max Lat: 64.96
 Avg Lat: 31.55

In [10]:
covid_north_hemi = covid_spread.loc[(covid_spread["Lat"] > 0)]
covid_south_hemi = covid_spread.loc[(covid_spread["Lat"] < 0)]

north_covid =  covid_north_hemi['Confirmed Cases'].sum()
south_covid =  covid_south_hemi['Confirmed Cases'].sum()

print(f'Northern Hemisphere Confirmed Cases (Outside of China): {north_covid}')
print(f'Southern Hemisphere Confirmed Cases: {south_covid}')

Northern Hemisphere Confirmed Cases (Outside of China): 125259
Southern Hemisphere Confirmed Cases: 864

In [11]:
state_country_df = covid_cleaned_df[['Province/State','Country/Region']]

state_country_list = state_country_df.values.tolist()
state_country_list

[['Anhui', 'Mainland China'],
 ['Beijing', 'Mainland China'],
 ['Chongqing', 'Mainland China'],
 ['Fujian', 'Mainland China'],
 ['Gansu', 'Mainland China'],
 ['Guangdong', 'Mainland China'],
 ['Guangxi', 'Mainland China'],
 ['Guizhou', 'Mainland China'],
 ['Hainan', 'Mainland China'],
 ['Hebei', 'Mainland China'],
 ['Heilongjiang', 'Mainland China'],
 ['Henan', 'Mainland China'],
 ['Hubei', 'Mainland China'],
 ['Hunan', 'Mainland China'],
 ['Inner Mongolia', 'Mainland China'],
 ['Jiangsu', 'Mainland China'],
 ['Jiangxi', 'Mainland China'],
 ['Jilin', 'Mainland China'],
 ['Liaoning', 'Mainland China'],
 ['Ningxia', 'Mainland China'],
 ['Qinghai', 'Mainland China'],
 ['Shaanxi', 'Mainland China'],
 ['Shandong', 'Mainland China'],
 ['Shanghai', 'Mainland China'],
 ['Shanxi', 'Mainland China'],
 ['Sichuan', 'Mainland China'],
 ['Tianjin', 'Mainland China'],
 ['Tibet', 'Mainland China'],
 ['Xinjiang', 'Mainland China'],
 ['Yunnan', 'Mainland China'],
 ['Zhejiang', 'Mainland China'],
 [nan, 'Thailand'],
 [nan, 'Japan'],
 [nan, 'South Korea'],
 ['Taiwan', 'Taiwan'],
 ['King County, WA', 'US'],
 ['Cook County, IL', 'US'],
 ['Tempe, AZ', 'US'],
 ['Macau', 'Macau'],
 ['Hong Kong', 'Hong Kong'],
 [nan, 'Singapore'],
 [nan, 'Vietnam'],
 [nan, 'France'],
 [nan, 'Nepal'],
 [nan, 'Malaysia'],
 ['Toronto, ON', 'Canada'],
 ['British Columbia', 'Canada'],
 ['Los Angeles, CA', 'US'],
 ['New South Wales', 'Australia'],
 ['Victoria', 'Australia'],
 ['Queensland', 'Australia'],
 [nan, 'Cambodia'],
 [nan, 'Sri Lanka'],
 [nan, 'Germany'],
 [nan, 'Finland'],
 [nan, 'United Arab Emirates'],
 [nan, 'Philippines'],
 [nan, 'India'],
 ['London, ON', 'Canada'],
 [nan, 'Italy'],
 [nan, 'UK'],
 [nan, 'Russia'],
 [nan, 'Sweden'],
 ['Santa Clara, CA', 'US'],
 [nan, 'Spain'],
 ['South Australia', 'Australia'],
 ['San Benito, CA', 'US'],
 [nan, 'Belgium'],
 ['Madison, WI', 'US'],
 ['Diamond Princess cruise ship', 'Others'],
 ['San Diego County, CA', 'US'],
 ['San Antonio, TX', 'US'],
 [nan, 'Egypt'],
 [nan, 'Iran'],
 ['Omaha, NE (From Diamond Princess)', 'US'],
 ['Travis, CA (From Diamond Princess)', 'US'],
 ['From Diamond Princess', 'Australia'],
 ['Lackland, TX (From Diamond Princess)', 'US'],
 [nan, 'Lebanon'],
 ['Humboldt County, CA', 'US'],
 ['Sacramento County, CA', 'US'],
 [nan, 'Iraq'],
 ['Unassigned Location (From Diamond Princess)', 'US'],
 [nan, 'Oman'],
 [nan, 'Afghanistan'],
 [nan, 'Bahrain'],
 [nan, 'Kuwait'],
 [nan, 'Algeria'],
 [nan, 'Croatia'],
 [nan, 'Switzerland'],
 [nan, 'Austria'],
 [nan, 'Israel'],
 [nan, 'Pakistan'],
 [nan, 'Brazil'],
 [nan, 'Georgia'],
 [nan, 'Greece'],
 [nan, 'North Macedonia'],
 [nan, 'Norway'],
 [nan, 'Romania'],
 [nan, 'Denmark'],
 [nan, 'Estonia'],
 [nan, 'Netherlands'],
 [nan, 'San Marino'],
 [nan, 'Belarus'],
 [' Montreal, QC', 'Canada'],
 [nan, 'Iceland'],
 [nan, 'Lithuania'],
 [nan, 'Mexico'],
 [nan, 'New Zealand'],
 [nan, 'Nigeria'],
 ['Western Australia', 'Australia'],
 [nan, 'Ireland'],
 [nan, 'Luxembourg'],
 [nan, 'Monaco'],
 [nan, 'Qatar'],
 ['Snohomish County, WA', 'US'],
 [nan, 'Ecuador'],
 [nan, 'Azerbaijan'],
 [nan, 'Czech Republic'],
 [nan, 'Armenia'],
 [nan, 'Dominican Republic'],
 ['Providence, RI', 'US'],
 [nan, 'Indonesia'],
 [nan, 'Portugal'],
 [nan, 'Andorra'],
 ['Tasmania', 'Australia'],
 [nan, 'Latvia'],
 [nan, 'Morocco'],
 [nan, 'Saudi Arabia'],
 [nan, 'Senegal'],
 ['Grafton County, NH', 'US'],
 ['Hillsborough, FL', 'US'],
 ['Placer County, CA', 'US'],
 ['San Mateo, CA', 'US'],
 ['Sarasota, FL', 'US'],
 ['Sonoma County, CA', 'US'],
 ['Umatilla, OR', 'US'],
 ['Fulton County, GA', 'US'],
 ['Washington County, OR', 'US'],
 [nan, 'Argentina'],
 [nan, 'Chile'],
 [nan, 'Jordan'],
 [' Norfolk County, MA', 'US'],
 ['Berkeley, CA', 'US'],
 ['Maricopa County, AZ', 'US'],
 ['Wake County, NC', 'US'],
 ['Westchester County, NY', 'US'],
 [nan, 'Ukraine'],
 [nan, 'Saint Barthelemy'],
 ['Orange County, CA', 'US'],
 [nan, 'Hungary'],
 ['Northern Territory', 'Australia'],
 [nan, 'Faroe Islands'],
 [nan, 'Gibraltar'],
 [nan, 'Liechtenstein'],
 [nan, 'Poland'],
 [nan, 'Tunisia'],
 ['Contra Costa County, CA', 'US'],
 [nan, 'Palestine'],
 [nan, 'Bosnia and Herzegovina'],
 [nan, 'Slovenia'],
 ['Bergen County, NJ', 'US'],
 ['Harris County, TX', 'US'],
 ['San Francisco County, CA', 'US'],
 [nan, 'South Africa'],
 ['Clark County, NV', 'US'],
 ['Fort Bend County, TX', 'US'],
 ['Grant County, WA', 'US'],
 ['Santa Rosa County, FL', 'US'],
 ['Williamson County, TN', 'US'],
 ['New York County, NY', 'US'],
 ['Unassigned Location, WA', 'US'],
 ['Montgomery County, MD', 'US'],
 ['Suffolk County, MA', 'US'],
 ['Denver County, CO', 'US'],
 ['Summit County, CO', 'US'],
 [nan, 'Bhutan'],
 [nan, 'Cameroon'],
 ['Calgary, Alberta', 'Canada'],
 [nan, 'Colombia'],
 [nan, 'Costa Rica'],
 [nan, 'Peru'],
 [nan, 'Serbia'],
 [nan, 'Slovakia'],
 [nan, 'Togo'],
 ['Chatham County, NC', 'US'],
 ['Delaware County, PA', 'US'],
 ['Douglas County, NE', 'US'],
 ['Fayette County, KY', 'US'],
 ['Floyd County, GA', 'US'],
 ['Marion County, IN', 'US'],
 ['Middlesex County, MA', 'US'],
 ['Nassau County, NY', 'US'],
 ['Norwell County, MA', 'US'],
 ['Ramsey County, MN', 'US'],
 ['Washoe County, NV', 'US'],
 ['Wayne County, PA', 'US'],
 ['Yolo County, CA', 'US'],
 [nan, 'Vatican City']]